PORT=8899
DEBUG=false
#HTTPS_PROXY=http://localhost:7890

# redis缓存
REDIS_CONN_STRING=redis://default:123456@127.0.0.1:6379

# 设置之后将使用固定的会话密钥，这样系统重新启动后已登录用户的 cookie 将依旧有效
SESSION_SECRET=abc123456

# 设置之后将使用指定数据库而非 SQLite，请使用 MySQL 或 PostgreSQL
SQL_DSN=root:123456@tcp(localhost:3306)/oneapi
# 最大空闲连接数，默认为 100
SQL_MAX_IDLE_CONNS=10
# 最大打开连接数，默认为 1000
SQL_MAX_OPEN_CONNS=200
# 连接的最大生命周期，默认为 60，单位分钟
SQL_CONN_MAX_LIFETIME=60


########    请求频率限制    ########
#全局 API 速率限制（除中继请求外），单 ip 三分钟内的最大请求数，默认为 180
#GLOBAL_API_RATE_LIMIT=180
# 全局 Web 速率限制，单 ip 三分钟内的最大请求数，默认为 60
#GLOBAL_WEB_RATE_LIMIT=60

#测试模型时的用户 prompt，默认为 Print your model name exactly and do not output without any other text.。
TEST_PROMPT="简单介绍一下你自己"

# 设置 SYNC_FREQUENCY 后服务器将定期从数据库同步配置，在使用远程数据库的情况下，推荐设置该项并启用 Redis，无论主从
SYNC_FREQUENCY=60

# BATCH_UPDATE_ENABLED：启用数据库批量更新聚合，会导致用户额度的更新存在一定的延迟可选值为 true 和 false，未设置则默认为 false,
# 如果你遇到了数据库连接数过多的问题，可以尝试启用该选项
#BATCH_UPDATE_ENABLED=true

# 默认程序启动时会联网下载一些通用的词元的编码，如：gpt-3.5-turbo，在一些网络环境不稳定，或者离线情况，可能会导致启动有问题，可以配置此目录缓存数据，可迁移到离线环境。
TIKTOKEN_CACHE_DIR=/var/kpdata/oneapi